html, body, div,h1, p
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	font-size: 17px;
	background:  #0099cc;
	background-size: cover;
	font-family: 'Lato',"Open Sans", Arial;
	transition: ease-in-out all 300ms;
	line-height: 1;
}
.soon {
    position:absolute;
    width: 600px;
    height: 100px;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    /*margin-top:50%;*/
    margin:auto;
    max-width:100%;
    max-height:100%;
}
.soon h1 {
	text-align: center;
	color: #fff;
	font-size: 3em;
	font-family: 'Lato';
	font-weight: 400;
}
.soon p{
	color: #fff;
	font-family: 'Lato';
	font-weight: 300;
	text-align: center;
  	margin: 0 auto;
  	font-size: 1.2em;
  	padding: 1.2em 0;
}

