<head>
  <!-- Google Tag Manager -->
  <script> (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2HJF64');
</script>
<!-- End Google Tag Manager -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Track Technologies That Power The Web Using our API, Lead Lists and Datasets for Machine learning">
  <meta name="keywords" content="Datasets For Machine Learning, Technology Based Lead Lists, List Of Stripe Users, List of Users of Technology X, API to track technologies, Tech lookup API, Builtwith Alternative, Bulk technology data, similar tech alternative, similartech alternative, wappalyzer alternative">
  <title>Deducely | Technology Based Lead Lists, Datasets For ML, Technology Tracking API</title>
  <link type="image/x-icon" rel="shortcut icon" href="assets/favicon.ico?v=2">
</head>
