<div class="illustrations clearfix">
  <div class="col-md-4">
    <div class="title">Lead Lists</div>
    <div class="img"><img src="assets/target.svg"></div>
    <div class="content"> Get a list of Orgs based on Technologies, Geography and Traffic rank.</div>
  </div>
  <div class="col-md-4">
    <div class="title">APIs</div>
    <div class="img"><img src="assets/page.svg"></div>
    <div class="content">Use our API to fetch technologies behind websites and integrate the data in your apps.</div>
  </div>
  <div class="col-md-4">
    <div class="title">Data for ML</div>
    <div class="img"><img src="assets/robot.svg"></div>
    <div class="content">We feed your hungry machine learning algorithms with quality data dumps.</div>
  </div>
</div>
